    <h1>Merci pour ta commande !</h1>
    <p>Tu viens de rendre plein de petits chats heureux ! </p>
    <p>Tu recevras très vite ta commande sur <%= user.email%> </p>
    <br>
    <p>Toute l'équipe de BicraveTonChaton te remercie et à hâte de te revoir !</p>