<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur BicraveTonChaton en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Ici, un monde merveilleux de petits chatons hyper trop mignons (qui sont un peu en deche de thunes) t'attend !

    </p>
    <p> À très vite sur BicraveTonChaton !
  </body>
</html>