    <h1>Nouvelle commande a l'approche</h1>
    <p>
     La commande n° <%= @cart.id %> vient d'être passée, trop cool !
     <br>
     Envoyez la à <%= @user.email %> pour adoucir sa vie
    </p>
    <p>
    Zoubis !
    </p>