<h1> Panier : </h1>

<ul>
  <% @cart.cart_lines.each do |i| %>
    <li><%= i.item.title %> ( x <%= i.quantity %>)</li> </li>
  <% end %>
</ul>

<p> <%= link_to "Retour aux produits", root_path %>
 <%= link_to "Payer ma commande", new_order_path(@cart.id), class: "btn btn-success" %>
</p>