/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Jumbotron */
.jumbotron {
  height: 450px;
  background-image: url(https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-position-y: 65%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */
footer {
  bottom: 0px;
}

/* Avatar */
#profile_picture {
  vertical-align: middle;
  width: auto;
  height: 300px;
  border-radius: 5%;
  margin-bottom: 6px;
}

/* Kitten-pictures_index */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/* Kitten-pictures_show */
#kitten_img_show {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}
