  <!--Footer-->
  <footer class="my-md-3 pt-md-3 ml-5 mr-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <p style="font-size:30px">&#128049;</p>
        <small class="d-block mb-3 text-muted">&copy; BicraveTonChaton 2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Mon Compte</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to "Inscription", new_user_registration_path, :class => "text-muted" %></a></li>
          <li><%= link_to "Connexion", new_user_session_path, :class => "text-muted" %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Équipe</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Qui sommes nous ?</a></li>
          <li><a class="text-muted" href="#">Nous rejoindre</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contacts</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a href="https://www.instagram.com/bicravetonchaton/" target="_blank" ><i class="fab fa-instagram mr-2"></i></a>
            <a class="text-muted" href="https://www.instagram.com/bicravetonchaton/" target="_blank">Instagram</a></li>
          <li>
            <a href="https://www.facebook.com/Bicravetonchaton/" target="_blank" ><i class="fab fa-facebook mr-2"></i></a>
            <a class="text-muted" href="https://www.facebook.com/Bicravetonchaton/" target="_blank">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
